on init
    setprop audiocomms.modemLib "libmamgr-xmm.so"
    setprop audiocomms.XMM.primaryChannel "/dev/gsmtty13"
    setprop audiocomms.XMM.secondaryChannel ""
    setprop audiocomms.XMM.isDualSimModem false

    # atomisp driver depends on these modules. So load these on init. atomisp
    # driver is loaded from "on charger" trigger as well from init.common.rc
    insmod /lib/modules/videobuf-core.ko
    insmod /lib/modules/videobuf-vmalloc.ko

    # Change to false once VoIP stream will use DirectOutput thread
    setprop AudioComms.HAL.isLocked "true"

    #audio setup delay - FW Init and first render time in ms
    setprop lpa.audiosetup.time 80

# Property present only for "eng" build. NVM is read-only by default
on property:ro.build.type=eng
    setprop AudioComms.AUD.isReadOnlyNvm 1

on property:AudioComms.AUD.isReadOnlyNvm=0
    mkdir /factory/aud_nvm
    chown media:system /factory/aud_nvm
    chmod 0700 /factory/aud_nvm
    restart media

on property:AudioComms.AUD.isReadOnlyNvm=1
    rmdir /factory/aud_nvm
    restart media

service media /system/bin/mediaserver
    class main
    user media
    group system audio camera media_rw sdcard_rw inet net_bt net_bt_admin net_bw_acct drmrpc net_raw security radio mediadrm
    ioprio rt 4

on property:sys.boot_completed=1
    insmod /lib/modules/libmsrlisthelper.ko
    insmod /lib/modules/imx1x5.ko
    insmod /lib/modules/lm3559.ko
    # Defer loading modules that may require firmware till fs is ready
    #insmod /lib/modules/atomisp-css2400b0_v21.ko dypool_enable=y repool_pgnr=18432 dypool_pgnr=18432
    #modified by baiyu in 20141121.
    insmod /lib/modules/atomisp-css2400b0_v21.ko dypool_enable=y repool_pgnr=12288 dypool_pgnr=12288

on post-fs
    # Give system access rights to vibrator
    chown system system /sys/devices/pci0000:00/0000:00:17.0/vibrator
